[Unit]
Description=Python-based daemon for processing luigi tasks from a job system
After=syslog.target network.target luigid.service

[Service]
Type=simple
ExecStart=/usr/local/bin/lgrunnerd.py
User={user}
Group={group}

[Install]
WantedBy=multi-user.target
